$White: var(--white);
$Black: var(--black);
$B_100: var(--b100);
$B_400: var(--b400);
$B_500: var(--b500);
$B_600: var(--b600);
$B_700: var(--b700);
$B_800: var(--b800);
$B_900: var(--b900);
$BG_100: var(--bg100);
$R_500: var(--r500);
$R_500_99: var(--r500_99);
$R_700: var(--r700);
$Y_400: var(--y400);
$Y_500: var(--y500);
$G_500: var(--g500);
$G_500_99: var(--g500_99);
$G_700: var(--g700);
$W1: var(--w1);
$W2: var(--w2);
$W3: var(--w3);
$W4: var(--w4);
$W5: var(--w5);
$W6: var(--w6);
$W7: var(--w7);
$W8: var(--w8);
$W9: var(--w9);
$W10: var(--w10);
$W11: var(--w11);
$W8helper: var(--w8helper);
$W1dark: var(--w1dark);
$W5light: var(--w5light);
$W7light: var(--w7light);

// Other
$line_height: 20px;
$table_col_padding_side: 40px;
$table_col_padding_top: 15px;
$trans: 0.2s ease;
$inner_paddings: 15px;
$outer_paddings: 15px;
$header_height: 40px;
$input_height: 30px;
$radio_padding_left: 30px;
$radio_padding_top: 8px;
$box_shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
  0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
